* {
    background-color: bisque;
    color: #006769;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.general-text {
    padding: 10px 0px;
}

a:hover {
    font-weight: 900;
}

span:hover {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    background-color: #006769;
    color: bisque;
}