* {
    background-color: bisque;
    color: #006769;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.general-text {
    display: inline-block;
}

#cb-rice {
    color: #40A578;
}

#cc-rice {
    color: #40A578;
}

#p-chic {
    color: #40A578;
}